<div class="position-fixed text-center" style="width: 1115px; padding-top: 25px;">
    <div id="list" class="list-group list-group-horizontal-sm">
        <a class="list-group-item list-group-item-action" href="#list-item-1">ESTABLECIMIENTO</a>
        <a class="list-group-item list-group-item-action" href="#list-item-2">OBLIGACIONES - NORMAS TÉCNICAS
            SECTORIALES</a>
        <a class="list-group-item list-group-item-action" href="#list-item-3">PROTECCIÓN AL CONSUMIDOR</a>
        <a class="list-group-item list-group-item-action" href="#list-item-4">REGIMEN SANCIONATORIO</a>
        <a class="list-group-item list-group-item-action" href="#list-item-5">TURISMO RESPONSABLE</a>
        <a class="list-group-item list-group-item-action" href="#list-item-6">BIOSEGURIDAD</a>
    </div>
</div>