<div class="position-fixed" style="width: 1115px; padding-top: 25px;">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle opacity-75" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Sección Auditoria
        </button>
        <ul class="dropdown-menu dropdown-menu-dark text-center">
            {% for section in sections %}
            <li><a class="dropdown-item" href="#{{ section.name }}">{{ section.name }}</a></li>
            {% endfor %}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item link-danger" href="#">Exit</a></li>
        </ul>
    </div>
</div>