<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="shadow p-2 mb-3 bg-primary text-white bg-opacity-65 rounded text-center">
        <h4 id="list-item-3">SECCIÓN 3: PROTECCIÓN AL CONSUMIDOR</h4>
    </div><br>
    <h5>Protección al consumidor: Comercio electrónico</h5><br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Se informa nombre o razón social, número de identificación tributaria (NIT), dirección de notificación
            judicial, teléfono, correo electrónico.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Suministra en todo momento información cierta, fidedigna, suficiente, clara y actualizada respecto de los
            productos que ofrezcan.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Informa el precio del servicio (incluyendo impuestos), los medios de pago, el tiempo de prestación del
            servicio, el derecho de retracto y el procedimiento para ejercerlo.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Publica las condiciones generales de sus contratos, que sean fácilmente accesibles y disponibles para su
            consulta, impresión y descarga, antes y después de realizada la transacción.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Previo a la finalización de cualquier transacción, el establecimiento de alojamiento y hospedaje presenta
            al consumidor un resumen del pedido de los servicios adquiridos, informando el precio individual de cada uno
            de ellos y el precio total.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Finalizada la transacción, el establecimiento de alojamiento y hospedaje remite, a más tardar el día, un
            acuse de recibo del mismo, con información precisa del tiempo de entrega, precio exacto (incluye impuestos),
            y la forma de pago.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Adopta mecanismos de seguridad apropiados y confiables que garantizan la protección de la información
            personal del consumidor y de la transacción misma.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Dispone en el mismo medio en que realiza comercio electrónico, mecanismos para radicar sus peticiones,
            quejas o reclamos, en el mismo medio en que realiza comercio electrónico.
        </label>
    </div><br>
    <h5>Deberes especiales del proveedor</h5><br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Se cersiora de que la entrega del bien o servicio se realiza efectivamente en la dirección indicada por el
            consumidor y que este ha sido plena e inequívocamente identificado.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Permite que el consumidor haga reclamaciones y devoluciones en los mismos términos y por los mismos
            medios de la transacción original.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Mantiene los registros necesarios y poner en conocimiento del consumidor, el asiento de su transacción y
            la identidad del proveedor.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Informa, previo a la adquisición, la disponibilidad del producto, el derecho de retracto el término para
            ejercerlo, el término de duración de las condiciones comerciales y el tiempo de entrega.
        </label>
    </div>
</div>