<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="shadow p-2 mb-3 bg-primary text-white bg-opacity-65 rounded text-center">
        <h4 id="list-item-1">SECCIÓN 1: A CERCA DEL ESTABLECIMIENTO</h4>
    </div><br>
    <h4>Clasificación del establecimientos de alojamiento y hospedaje (NTSH 006)</h4>
    <p>Escoja la opción a la que pertenece el establecimiento:</p>
    <select class="form-select" aria-label="Default select example">
        <option selected>-</option>
        <option value="1">Albergue-refugio-hostal </option>
        <option value="2">Apartahotel </option>
        <option value="3">Vivienda Turística </option>
        <option value="4">Alojamiento rural </option>
        <option value="5">Hotel </option>
        <option value="6">Posadas turísticas </option>
        <option value="7">Recintos de campamento o camping</option>
    </select><br>
    <h4>Requisitos de Operación - Documentación</h4><br>
    <h5>Previo al inicio de sus Operaciones:</h5>
    <p>Los siguientes archivos deben ser adjuntos</p><br>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Comprobante de inscripción en el RNT. </label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Comprobante de inscripción al RUT</label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Registro Mercantil</label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Matrícula mercantil de la Cámara de Comercio de su
            municipio o distrito. </label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">La comunicación de la apertura del establecimiento a la
            estación de la Policía Nacional</label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Permiso de uso de suelo.</label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div><br>
    <h5>Durante el desarrollo de actividad económica:</h5>
    <p>Los siguientes archivos deben ser adjuntos</p><br>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Tarjeta de Registro de Alojamiento.</label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Contrato de Hospedaje</label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Concepto técnico emitido por el cuerpo oficial de
            bomberos municipal o distrital</label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Concepto sanitario emitido por la secretaria de salud
            municipal o distrital</label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Permiso de publicidad exterior visual emitido por el
            municipio o distrito</label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Pagos de derechos de autor en Sayco y Acinpro</label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
</div>