{% extends 'account/main.html' %}

{% block body %}
<div class="container text-center" style="padding: 50px;">
    <h1>Bienvenido to H-Sanity</h1><br>
    <p>¡Aqui podras ver los establecimientos auditados por agentes especializados en el area de la salud!</p><br>
    <div class="d-flex">
        <h6 class="me-3 text-muted">Obligaciones de los establecimientos<span class="badge bg-dark">S2</span></h6>
        <h6 class="me-3 text-muted">Protección al consumidor<span class="badge bg-dark">S3</span></h6>
        <h6 class="me-3 text-muted">Régimen Sancionario<span class="badge bg-dark">S4</span></h6>
        <h6 class="me-3 text-muted">Turismo Responsable<span class="badge bg-dark">S5</span></h6>
        <h6 class="me-3 text-muted">Bioseguridad<span class="badge bg-dark">S6</span></h6>
    </div>
    
</div>
<div class="container">
    <div class="row">
        {% for establishment, latestAudit, sectionResults in establishmentAudit %}
        <div class="col-md-12">
            <div class="card text-center mb-4 box-shadow d-flex flex-row">
                <img class="card-img-top align-self-start" src="{{ establishment.photo.url }}" alt=""
                    style="width: 250px; height: auto;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <h2 class="card-title">{{ establishment.name }}</h2>
                            <p class="card-text">
                                <i class="fas fa-map-marker-alt"></i> {{ establishment.address }} <br>
                                <i class="fas fa-phone"></i> {{ establishment.contact }} <br>
                                <i class="fas fa-envelope"></i> {{ establishment.mail }} <br>
                                <i class="fas fa-globe"></i> {{ establishment.website }}
                            </p>
                            <a href="#" class="btn btn-secondary " role="button">
                                <i class="fas fa-external-link-alt"></i> Visitar Página
                            </a>
                        </div>
                        <div class="col-md-2">
                            {% if sectionResults %}
                            <div>
                                {% for result in sectionResults %}
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        S{{ forloop.counter | add:1 }}
                                        <span class="badge bg-primary rounded-pill">{{ result.score | floatformat:1 }}%</span>
                                    </li>
                                </ul>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-5">
                            <div>
                                {% if latestAudit %}
                                <p>Ultima Auditoria</p>
                                <p>{{ latestAudit.created }}</p>
                                <p>Puntaje: {{ latestAudit.score | floatformat:1  }}</p>
                                {% if latestAudit.score >= 20 %}
                                <i class="fas fa-star text-warning"></i>
                                {% endif %}
                                {% if latestAudit.score >= 40 %}
                                <i class="fas fa-star text-warning"></i>
                                {% endif %}
                                {% if latestAudit.score >= 60 %}
                                <i class="fas fa-star text-warning"></i>
                                {% endif %}
                                {% if latestAudit.score >= 80 %}
                                <i class="fas fa-star text-warning"></i>
                                {% endif %}
                                {% if latestAudit.score >= 90 %}
                                <i class="fas fa-star text-warning"></i>
                                {% endif %}
                                {% endif %}
                            </div><br>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#commentModal">
                                <i class="fas fa-comment"></i> Comenta tu experiencia!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}