{% extends 'account/main.html' %}

{% block title %}
Audits
{% endblock %}

{% block body %}
<div class="m-3 text-center">
    <h1>Auditorias</h1>
    <a href="{% url 'createAudit' %}"><button type="button" class="btn btn-primary">
            Nueva Auditoria</button></a>
</div>
<div class="container md">
    <table class="table" style="text-align: center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Detalles</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">1</th>
                <td>00/00/00</td>
                <td>100%</td>
                <td><a href="#"><button type="button" class="btn btn-secondary">
                        Ver Detalles</button></a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}