{% extends 'template.html' %}

{% block title %}
Inicio
{% endblock %}

{% block body %}
<h1>Bienvenido a H-Sanity</h1>
<div>
    <h4>Establecimientos Registrados</h4>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Contacto</th>
                <th>Correo</th>
                <th>Direccón</th>
            <tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>Hotel Tempus</th>
                <th>Imagen</th>
                <th>12345</th>
                <th>hotel@gmail.com</th>
                <th>Cra pi</th>
            <tr>
        </tbody>
    </table>
    <thead>

    </thead>
    <tbody>

    </tbody>
</div>
{% endblock %}