{% extends 'template.html' %}

{% block title %}
Inicio
{% endblock %}

{% block body %}
<div>
    <h3>Establecimientos Registrados</h3>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Contacto</th>
                <th>Correo</th>
                <th>Direccón</th>
                <th>Acción</th>
            <tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>Hotel Tempus</th>
                <th>Imagen</th>
                <th>12345</th>
                <th>hotel@gmail.com</th>
                <th>Cra 12 # 20-1</th>
                <th>Editar | Deshabilitar</th>
            <tr>
        </tbody>
</div>
{% endblock %}