{% extends 'template.html' %}

{% block title %}
Inicio
{% endblock %}

{% block body %}

<div>
    <h1>Administar Establecimientos</h1>
    <a href="{% url 'create' %}"><button>Registrar</button></a>
    <h3>Establecimientos Registrados</h3>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Direccón</th>
                <th>Contacto</th>
                <th>Correo</th>
                <th>Website</th>
                <th>Acción</th>
            <tr>
        </thead>
        <tbody>
            {% for hotel in hoteles %}
            <tr>
                <th>{{ hotel.id }}</th>
                <th>{{ hotel.name }}</th>
                <th>
                    <img src="{{ hotel.photo.url }}" height="100">
                </th>
                <th>{{ hotel.address }}</th>
                <th>{{ hotel.contact }}</th>
                <th>{{ hotel.mail }}</th>
                <th>{{ hotel.website }}</th>
                <th>
                    <a href="{% url 'edit' %}"><button>Editar</button></a> | 
                    <a href="#"><button>Deshabilitar</button></a>
                </th>
            <tr>
            {% endfor %}
        </tbody>
</div>
{% endblock %}