{% extends 'auditorTemplate.html' %}

{% block title %}
Home Auditor
{% endblock %}

{% block body %}
<div class="card" style="width: 50rem; margin-top: 2rem;">
  <!-- <img src="" class="card-img-top" alt="..."> -->
  <div class="card-body">
    <h5 class="card-title">{{auditor.name}} {{auditor.last_name}}</h5>
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email: {{auditor.mail}}</label>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Mobile Phone: {{auditor.cell_phone_number}}</label>
      </div>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Editar
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Editar auditor</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% include 'auditor/auditorForm.html' %}
            </div>
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> -->
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}