<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="shadow p-2 mb-3 bg-primary text-white bg-opacity-65 rounded text-center">
        <h4 id="list-item-2">SECCIÓN 2: OBLIGACIONES DE LOS ESTABLECIMIENTOS DE ALOJAMIENTO Y HOSPEDAJE -
            NORMAS TÉCNICAS SECTORIALES</h4>
    </div><br>
    <h4>Obligaciones</h4><br>
    <h5>Obligaciones como PST</h5>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Mantiene vigente y activo el RNT, durante la prestación de los servicios turísticos.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Mantiene los datos de su inscripción en el RNT.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Toda publicidad incluye el número que corresponda al RNT.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Los precios, calidad y cobertura del servicio ofrecido se enuncian en las pautas
            publicitarias.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Se suministra la información requerida por las autoridades de turismo. </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Cumple las normas sobre conservación del medio ambiente </label>
    </div><br>
    <h5>Obligación para suscribir pólizas de seguro</h5>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Los prestadores de servicios de alojamiento turístico cuentan con una póliza de seguro de
            responsabilidad contra daños a huéspedes que deberá cubrir cualquier siniestro que se presente
            durante la prestación del servicio de alojamiento turístico</label>
    </div><br>
    <h5>Obligación a cargo de los administradores de propiedad horizontal</h5>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            El reglamento de propiedad horizontal está autorizado</label>
    </div><br>
    <div>
        <h4>Normas Sectoriales:</h4><br>
        <h5>1. NTSH Sectorial Colombiana 001 (2003-02-24)</h5>
        <p>Tiene como objeto proporcionar los requisitos para organizar el inicio y cierre de actividades y
            operar equipos y elementos de trabajo de acuerdo con los parámetros definidos en los
            establecimientos de alojamiento y hospedaje.</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">No Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple Parcialmente</label>
        </div>
    </div><br>
    <div>
        <h5>2. NTSH Sectorial Colombiana 002 (2003-02-24)</h5>
        <p>Proporciona los requisitos para atender sugerencias y reclamaciones del cumplimiento del
            protocolo de
            servicio y brinda información conforme a requisitos del cliente en los establecimientos
            hoteleros y
            otros tipos de alojamiento.</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">No Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple Parcialmente</label>
        </div>
    </div><br>
    <div>
        <h5>3. NTSH Sectorial Colombiana 003 (2003-02-24)</h5>
        <p>Tiene como objeto proporcionar los requisitos para ofrecer productos y servicios dando respuesta
            al
            cliente, realizar check in y check out de huéspedes y reservar habitaciones de acuerdo con
            procedimientos definidos en los establecimientos de alojamiento y hospedaje.</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">No Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple Parcialmente</label>
        </div>
    </div><br>
    <div>
        <h5>4. NTSH Sectorial Colombiana 004 (2003-02-24)</h5>
        <p>Tiene como objeto proporcionar los requisitos para ejecutar labores de apoyo en el servicio a
            huéspedes y clientes y atender entrega y recibo de habitaciones según procedimientos definidos
            en
            los establecimientos de alojamiento y hospedaje.</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">No Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple Parcialmente</label>
        </div>
    </div><br>
    <div>
        <h5>5. NTSH Sectorial Colombiana 005 (2003-02-24)</h5>
        <p>Tiene como objeto proporcionar los requisitos para cumplir procedimientos definidos para el
            manejo de
            valores y realizar el cobro en los establecimientos de alojamiento y hospedaje.</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">No Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple Parcialmente</label>
        </div>
    </div><br>
    <div>
        <h5>6. NTSH Sectorial Colombiana 006 (2009-08-27)</h5>
        <p>Tiene como objeto establecer las características de calidad de infraestructura y servicios
            ofrecidos,
            que deben cumplir los hoteles para obtener su certificado de calidad turística, así mismo,
            define la
            clasificación de los establecimientos de alojamiento y hospedaje mediante categorización por
            estrellas para hoteles en las modalidades 1, 2, 3, 4, y 5.</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">No Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple Parcialmente</label>
        </div>
    </div><br>
    <div>
        <h5>7. NTSH Sectorial Colombiana 007 (2005-02-23)</h5>
        <p>Tiene como objeto definir los requisitos de planta de servicios que deben cumplir las posadas
            turísticas.</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">No Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple Parcialmente</label>
        </div>
    </div><br>
    <div>
        <h5>8. NTSH Sectorial Colombiana 008 (2011-11-30)</h5>
        <p>Tiene como objeto definir las características de calidad y los requisitos de planta y servicios
            para
            los establecimientos de alojamiento rural.</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">No Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple Parcialmente</label>
        </div>
    </div><br>
    <div>
        <h5>9. NTSH Sectorial Colombiana 009 (2008-02-28)</h5>
        <p>Tiene por objeto establecer los requisitos que deben cumplir los apartamentos turísticos para
            asegurar la calidad en la prestación del servicio.</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">No Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple Parcialmente</label>
        </div>
    </div><br>
    <div>
        <h5>10. NTSH Sectorial Colombiana 010 (2008-02-28)</h5>
        <p>Establece los requisitos que deben cumplir los apartahoteles para asegurar la calidad en la
            prestación del servicio.</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">No Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple Parcialmente</label>
        </div>
    </div><br>
    <div>
        <h5>11. NTSH Sectorial Colombiana 012 (2014-08-01)</h5>
        <p>Es aplicable a todos los establecimientos de alojamiento y hospedaje clasificados como recintos
            de
            campamiento o camping.</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">No Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple Parcialmente</label>
        </div>
    </div><br>
    <div>
        <h5>12. NTSH Sectorial Colombiana 013 (2016-04-29)</h5>
        <p>Establece las características de calidad en planta y servicios ofrecidos, que deben cumplir los
            hostales para obtener su certificado de calidad turística.</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">No Cumple</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Cumple Parcialmente</label>
        </div>
    </div><br>
</div>