<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="shadow p-2 mb-3 bg-primary text-white bg-opacity-65 rounded text-center">
        <h4 id="list-item-5">SECCION 5: TURISMO RESPONSABLE</h4>
    </div><br>
    <p>El establecimiento se compromete a prevenir y alertar los siguientes comportamientos.</p><br>
    <h5>Prevención de la ESCNNA</h5><br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            No ofrecer en los programas de promoción turística planes relacionados con la ESCNNA.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            No ofrecer, informar o llevar a los turistas a lugares o personas que exploten sexualmente a niños, niñas
            y adolescentes.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            No permitir el ingreso de menores de edad con fines de explotación sexual comercial.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Capacitar y concienciar al equipo de trabajo sobre las implicaciones que hay al ofrecer, participar u
            omitir la ESCNNA.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Reconocer las líneas de denuncia y denunciar ante cualquier situación relacionada con la ESCNNA.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Contar con una política interna y externa que promueva las buenas prácticas para la prevención de la
            ESCNNA.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Comunicar a todos los turistas sobre las implicaciones legales existentes en Colombia al involucrase en la
            ESCNNA.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Promocionar la prevención del delito a través de la campaña “ojos en todas partes” en los distintos
            espacios físicos y digitales.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            No facilitar medios, vehículos o servicios con fines de explotación sexual comercial.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Visibilizar el código de conducta, medidas, compromisos y acciones de responsabilidad social para la
            garantía de los derechos de la niñez.
        </label>
    </div><br>
    <h5>Prevención de tráfico del patrimonio natural</h5><br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Colombia es un país muy rico en especies de flora y fauna, muchas de estas son silvestres y viven en medio
            de la naturaleza. El turismo no debe servir para sacar especímenes de su entorno natural, por el contrario,
            se deben cuidar los escenarios naturales para facilitar la conservación de las especies que enriquecen
            nuestro patrimonio natural y hacer de los viajes y el turismo un mecanismo de concientización y compromiso
            con la naturaleza. No está permitido trasladar especies como plantas, flores y semillas de la flora
            silvestre, ni capturar animales de ningún tipo para sacarlos de su hábitat y venderlos o llevarlos como
            recuerdo de un viaje o excursión.
        </label>
    </div><br>
    <h5>Protección al Patrimonio Cultural</h5><br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            El patrimonio cultural colombiano es muy rico, por su diversidad, arquitectura y la cantidad de objetos,
            colecciones, documentos y artefactos curiosos que representan la evolución de las culturas ancestrales y los
            momentos memorables de nuestra historia. Las pinturas antiguas, el mobiliario, la cerámica y el oro de los
            pueblos aborígenes, y muchos otros objetos representan lo que somos y por esta razón, nada de lo que
            constituya nuestro patrimonio cultural debe ser vendido o tomado para disfrute particular, porque es un
            patrimonio de todos. El turismo es una manera de enriquecer y proteger la cultura de los pueblos y debe
            servir de mecanismo para conservar y preservar nuestro patrimonio cultural.
        </label>
    </div><br>
    <h5>Prevención contra el Tráfico de Migrantes</h5><br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Entrar sin documentación legal a Colombia no está permitido, por eso si alguien ayuda a los migrantes a
            entrar ilegalmente a nuestro país, está cometiendo un delito. Las personas a veces se ven forzadas a migrar
            a otros países, por lo que los traficantes criminales se aprovechan de ellas ofreciéndoles con falsas
            promesas la posibilidad de conseguir un empleo, de naturalizarse en nuestro país o de hacer tránsito a otro.
            Con este delito se facilitan otros como la trata de personas, la explotación sexual, laboral y otras formas
            de explotación.
        </label>
    </div><br>
    <h5>Comercio Justo</h5><br>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Propone la viabilidad de las empresas y su capacidad para mantenerse a largo plazo, generando así
            prosperidad en la sociedad, considerando además la rentabilidad de todas las actividades económicas. El
            comercio justo es pagar el precio justo por los bienes y servicios adquiridos, pero va más allá de eso,
            puesto que involucra un empleo justo, un servicio o bien de calidad, una cadena de proveeduría justa es un
            consumidor dispuesto a pagar lo justo, es hablar bien de la experiencia turística y así hacer que todo
            participante de la cadena de valor del turismo perciba satisfacción por hacer lo correcto y lo justo para
            los demás.
        </label>
    </div><br>
</div>